@mixin apply-flex($flex-direction: column, $gap: 1rem, $flex-wrap: wrap, $width: 75%) {
    display: flex; flex-wrap: $flex-wrap; gap: $gap; flex-direction: $flex-direction; width: $width;
}

@mixin background-fill($background-size: 100% 100%, $background-position: center) {
    background-origin: border-box; // The background is positioned relative to the border box.
    background-size: $background-size; // Specifies the size of the background images.
    background-clip: padding-box; // Determines the background painting area.
    background-repeat: no-repeat; // Specifies how background images are tiled after they have been sized and positioned.
    background-position: $background-position; // Specifies the initial position of the background image(s) (after any resizing) within their corresponding background positioning area.
}
