$fg-color-0: #D5D7E2;
$fg-color-1: #000000;
$bg-color-0: #EEF0F6;
$font-monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
$font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-sans-serif: system-ui, -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
